* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app .wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto minmax(auto, 1fr) auto;
}
main {
  height: 100%;
  overflow-y: auto;
}

.logo {
  display: block;
  width: 50%;
  margin: 30px auto;
}

.pointer {
  cursor: pointer;
}

span {
  font-size: 14px;
}

